<h1>Ein neuer Kontakt hinzufügen</h1>
<?php
if(!empty($result)) {
	echo "<h2>$result</h2>";
}
?>
<form action="index.php?act=add" method="post">
	<p>
		<label for="name">Name&nbsp;</label>
		<input type="text" name="name" id="name" />
	</p>
	<p>
		<label for="vorname">Vorname&nbsp;</label>
		<input type="text" name="vorname" id="vorname" />
	</p>
	<p>
		<label for="tel">Telefonnummer&nbsp;</label>
		<input type="text" name="tel" id="tel" />
	</p>
	<p>
		<input type="submit" />
	</p>
</form>
<a href="index.php">Zurück</a>
